<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.yaodh.androidstudy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TextViewActivity"
            android:label="@string/textview" />
        <activity
            android:name=".activity.NotificationActivity"
            android:label="@string/textview" />
        <activity
            android:name=".activity.RecyclerViewActivity"
            android:label="@string/RecyclerView" />
        <activity
            android:name=".activity.DrawerActivity"
            android:label="@string/drawer" />
        <activity
            android:name=".activity.ProgressbarActivity"
            android:label="@string/title_activity_progressbar" />
        <activity android:name=".activity.ListViewLoader" />
        <activity
            android:name=".activity.ShareActivity"
            android:label="@string/title_activity_share" />
        <activity
            android:name=".activity.ImageViewActivity"
            android:label="@string/title_activity_image_view" />
        <activity
            android:name=".activity.TextSwitcherActivity"
            android:label="@string/title_activity_text_swticher" />
        <activity android:name=".activity.SwitchButtonActivity" />
        <activity android:name=".activity.SectionRecyclerViewActivity" />
        <activity android:name=".activity.FastScrollListActivity" />
        <activity android:name=".activity.DataBindingActivity" />
        <activity android:name=".activity.AnimActivity" />
        <activity android:name=".activity.CoordinatorActivity" />
        <activity android:name=".activity.ActionModeActivity" />
        <activity android:name=".activity.CardActivity"></activity>
    </application>

</manifest>